$primary-color: #2e86ab;

.navbar {
  flex-direction: column;
  width: 60px;
  position: relative;

  img {
    max-width: 60px;
  }

  section {
    flex-direction: inherit;
    align-items: center;
    width: 60px;
  }

  a:hover {
    color: $primary-color !important;
  }

  .navbar-links {
    display: grid;
    gap: 3em;

    a {
      justify-self: center;
      font-size: 1.7em;
      display: block;

      &.active {
        color: $primary-color !important;
      }
    }
  }

  .humburger {
    display: none !important;
  }
}

@media screen and (max-width: 1280px) {
  .navbar {

    section {
      
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    flex-direction: row;
    width: 100%;
    position: fixed;

    .links, .social {
      display: flex;
      align-items: center;
      width: fit-content;
    }

    .links {

      .navbar-links {
        grid-auto-flow: column;
      }
    }
  }
}

@media screen and (max-width: 600px) {
    .navbar {

        .navbar-links {
          position: fixed;
          top: 60px;
          width: 100%;
          grid-auto-flow: column;
          gap: 0;
          padding: 1em 1.5em;
        }

      .humburger {
        display: flex !important;
      }
    }
}